@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.barHide{
  transform: translate(400px);
}

.smoothTransition{
  transition: all 0.4s ease-out;
}

.loading {
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.categoriesGrid {
  grid-template-columns: 0.2fr minmax(0, 1fr) 0.2fr minmax(0, 1fr);
}

.formHide {
  transform: translate(0, -400px);
}

.topHide {
  transform: translate(0, -50px);
}

.opaTrans {
  transition: opacity 0.2s ease-in-out;
}

.vidPrev:hover svg{
  fill: rgb(0 0 0 / 74%);
}  